

  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Desease Name" >Desease Name</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Disease Name" type="text" class="validate" name="Desease Name"value="{{data.deseaseName}}" >
    </div>
  </div>
  
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Summary" >Summary</label>
    </div>
    <div class="col s10 m6">
      <textarea placeholder="Summary" name="Summary" class="input-textarea" >{{data.summary}}</textarea>
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Cause" >Cause</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Cause" type="text" class="validate" name="Cause" value="{{data.cause}}">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="Midiecnce" >Midiecnce</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="Midiecnce" type="text" class="validate" name="Midiecnce" value="{{data.medicine}}">
    </div>
  </div>
  <div class="row">
    <div class="col s12 m5 labelContainer">
      <label for="NaturalMidiecnce" >NaturalMidiecnce</label>
    </div>
    <div class="col s10 m6">
      <input placeholder="NaturalMidiecnce" type="text" class="validate" name="NaturalMidiecnce" value="{{data.naturalCare}}">
    </div>
  </div>
  <div class="center">
  <button type="submit" class="btn themeButton ">Update</button>
  </div>